/* styles.css */

body {
  font-family: "Acumin Variable Concept";
  background-color: #1a1830;
}

header {
  width: 100%;
  height: 6.25em; /* 100px to em */
  position: relative;
}

.navbar {
  background-color: hsl(245, 33%, 14%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: large;
}

.nav-item {
  float: left;
  margin-left: 8.333em; /* 140px to em */
  margin-top: 1.25em; /* 20px to em */
}

.nav-item-img {
  width: 1.875em; /* 30px to em */
  height: 2.5em; /* 40px to em */
  cursor: pointer;
}

.nav-item-btn {
  float: right;
  margin-right: 6.25em; /* 100px to em */
  margin-top: 1.25em; /* 20px to em */
  padding: 1.14em 1.06em; /* 14px 16px to em */
  display: flex;
  background-color: #008d36;
  border-radius: 0.9375em; /* 15px to em */
  cursor: pointer;
  border-color: #008d36;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ddd;
  width: 6.25em; /* 100px to em */
  height: 2.5em; /* 40px to em */
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.14em 1.06em; /* 14px 16px to em */
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
  height: fit-content;
}
/*------------------------------navbar----------------------------------------------*/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr; /*Generando una cuadricula 2 fracciones*/
  align-items: center;
}

.text-about {
  color: #ddd;
  justify-self: left;
  margin-left: 6em;
  padding-right: 4em;
  font-size: 1.5em;
}

.img-about {
  justify-self: right;
  margin-right: 19.0625em;
  margin-bottom: 0.625em;
}

.who {
  display: grid;
  grid-template-columns: 1fr 1fr; /*Generando una cuadricula 2 fracciones*/
  align-items: center;
  background-color: white;
}

.title-who {
  color: #008d36;
  justify-self: right;
  margin-right: 10em;
  font-size: 2em;
}

.text-who {
  color: black;
  justify-self: right;
  margin-right: 5em;
  padding-left: 2em;
  font-size: 1.2em;
}

.text-who2 {
  color: black;
  justify-self: right;
  margin-right: 5em;
  padding-left: 2em;
  text-justify: distribute-all-lines;
  font-size: 1.2em;
}

.div-who {
  list-style: none;
  display: grid;
  justify-self: right;
  /*Organiza los elementos de manera horizontal*/
}

.img-who {
  border-color: #008d36;
  justify-self: left;
  margin-left: 18.75em;
  margin-top: 1.875em;
  width: 18.75em;
  height: 18.75em;
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Generando una cuadricula 2 fracciones*/
  align-items: center;
}

.values h2 {
  text-align: center;
}

.title-value {
  color: white;
  justify-self: center;
  margin-left: 22em;
}

.value1 {
  justify-self: center;
  color: white;
  justify-content: center;
  background-color: darkgray;
  width: 12.5em;
  height: 12.5em;
  margin-top: 1.25em;
  border-top-right-radius: 2.5em;
  padding: 1.25em;
  margin-right: 5em;
}

.value2 {
  justify-self: right;
  color: white;
  justify-content: center;
  text-justify: center;
  background-color: darkgray;
  width: 12.5em;
  height: 12.5em;
  margin-top: 1.25em;
  padding: 1.25em;
  border-bottom-left-radius: 2.5em;
  margin-left: 17em;
}

.value3 {
  justify-self: center;
  color: white;
  justify-content: center;
  background-color: darkgray;
  width: 12.5em;
  height: 12.5em;
  margin-top: 1.25em;
  padding: 1.25em;
}

.facebook {
  margin-top: 1.875em;
  margin-left: 46.875em;
  margin-right: 4.375em;
  width: 3.125em;
  height: 4.6875em;
}

.instagram {
  margin-right: 4.375em;
  width: 3.75em;
  height: 3.75em;
}

.youtube {
  width: 4.375em;
  height: 2.5em;
}

/* Estilos generales */

@media only screen and (max-width: 768px) {
  .nav-item {
    margin-left: 5em; /* 80px to em */
  }

  .nav-item-btn {
    margin-right: 5em;
  }
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .text-about {
    margin-left: 6em;
    padding-right: 4em;
    font-size: 1.5em;
  }

  .img-about {
    margin-right: 19.0625em;
  }

  .who {
    grid-template-columns: 1fr 1fr;
  }

  .title-who {
    margin-right: 10em;
    font-size: 2em;
  }

  .text-who {
    margin-right: 5em;
    font-size: 1.2em;
  }

  .text-who2 {
    margin-right: 5em;
    font-size: 1.2em;
  }

  .img-who {
    margin-left: 18.75em;
    margin-top: 1.875em;
    width: 18.75em;
    height: 18.75em;
  }
  .values {
    grid-template-columns: 1fr; /* Generando una cuadricula con una columna */
  }

  .title-value {
    margin-left: 1em;
  }

  .value1,
  .value2,
  .value3 {
    width: 100%; /* Estableciendo el ancho de los elementos a 100% */
    height: auto; /* Estableciendo la altura automática para adaptarse al contenido */
    margin-top: 1em;
    border-radius: 0.5em; /* Ajustando el radio de borde para un diseño más cuadrado */
  }

  .facebook,
  .instagram,
  .youtube {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin-left: 4em; /* 64px to em */
  }

  .nav-item-btn {
    margin-right: 4em; /* 64px to em */
  }

  .nav-item a {
    padding: 0.78em 0.73em; /* 12px 14px to em */
  }

  .nav-item-btn {
    padding: 0.78em 0.73em; /* 12px 14px to em */
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .text-about {
    color: #ddd;
    justify-self: center;
    margin-left: 0;
    padding-right: 0;
    font-size: 1.2em;
  }

  .img-about {
    justify-self: center;
    margin-right: 0;
    margin-bottom: 0.625em;
  }

  .who {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: white;
  }

  .title-who {
    color: #008d36;
    justify-self: center;
    margin-right: 0;
    font-size: 1.8em;
  }

  .text-who {
    color: black;
    justify-self: center;
    margin-right: 0;
    padding-left: 0;
    font-size: 1.1em;
  }

  .text-who2 {
    color: black;
    justify-self: center;
    margin-right: 0;
    padding-left: 0;
    text-justify: distribute-all-lines;
    font-size: 1.1em;
  }

  .div-who {
    list-style: none;
    display: grid;
    justify-self: center;
  }

  .img-who {
    border-color: #008d36;
    justify-self: center;
    margin-left: 0;
    margin-top: 1.875em;
    width: 18.75em;
    height: 18.75em;
  }
}
