body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  height: 6.25em; /* 100px to em */
  position: relative;
}

.navbar {
  background-color: #1a1830;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: large;
}

.nav-item {
  float: left;
  margin-left: 8.333em; /* 140px to em */
  margin-top: 1.25em; /* 20px to em */
}

.nav-item-img {
  width: 1.875em; /* 30px to em */
  height: 2.5em; /* 40px to em */
  cursor: pointer;
}

.nav-item-btn {
  float: right;
  margin-right: 6.25em; /* 100px to em */
  margin-top: 2em; /* 20px to em */
  padding: 1.14em 1.06em; /* 14px 16px to em */
  display: flex;
  background-color: #008d36;
  border-radius: 0.9375em; /* 15px to em */
  cursor: pointer;
  border-color: #008d36;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ddd;
  width: 6.25em; /* 100px to em */
  height: 2.5em; /* 40px to em */
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.14em 1.06em; /* 14px 16px to em */
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
  height: fit-content;
}
/*------------------------------navbar----------------------------------------------*/

.cliente1 {
  background-image: url("../Imagenes/Testimonio\ Eugy\ Design.png");
  background-size: cover;
  height: 21.7em;
}

.text-cliente1 {
  margin-left: 3em;
  margin-right: 48em;
  padding-top: 5.5em;
  font-size: 1.1em;
  color: white;
}

.cliente2 {
  background-image: url("../Imagenes/cliente2.png");
  background-size: cover;
  height: 21em;
}

.text-cliente2 {
  margin-left: 3em;
  margin-right: 48em;
  padding-top: 6em;
  font-size: 1.1em;
  color: white;
}

.strategy {
  color: #008d36;
  margin-left: 22em;
}
.img-titleClientes {
  width: 1em;
  height: 1em;
}

.clientes2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Generando una cuadricula 2 fracciones*/
  align-items: center;
}

.clientes2 p {
  padding: 0.4em;
  text-align: center;
}

.clientes2 div {
  margin-left: 3em;
}

.sucre {
  background-color: #008d36;
  color: white;
  margin-left: 4em;
  width: 10em;
  height: 17em;
  border-bottom-left-radius: 2em;
}
.img-sucre {
  width: 9em;
  height: 4em;
  background-color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.rosas {
  background-color: #008d36;
  color: white;
  width: 10em;
  height: 17em;
}

.img-rosas {
  width: 8em;
  height: 4em;
  background-color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.momentos {
  background-color: #008d36;
  color: white;
  width: 10em;
  height: 17em;
}

.img-momentos {
  width: 8em;
  height: 4em;
  background-color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.bioholistics {
  background-color: #008d36;
  color: white;
  width: 10em;
  height: 17em;
  border-top-right-radius: 2em;
}

.img-bio {
  width: 8.5em;
  height: 4em;
  background-color: white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.academic {
  color: #1a1830;
  margin-left: 22em;
}

.liceoJuvenil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1a1830;
}
.liceoJuvenil p {
  color: white;
  padding: 1em;
  margin-top: 1em;
  font-size: 1.5em;
}

.img-liceo {
  width: 100%;
  height: 100%;
}
