body {
  font-family: "Acumin Variable Concept";
}

header {
  width: 100%;
  height: 6.25em; /* 100px to em */
  position: relative;
}

.navbar {
  background-color: #1a1830;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: large;
}

.nav-item {
  float: left;
  margin-left: 8.333em; /* 140px to em */
  margin-top: 1.25em; /* 20px to em */
}

.nav-item-img {
  width: 1.875em; /* 30px to em */
  height: 2.5em; /* 40px to em */
  cursor: pointer;
}

.nav-item-btn {
  float: right;
  margin-right: 6.25em; /* 100px to em */
  margin-top: 2em; /* 20px to em */
  padding: 1.14em 1.06em; /* 14px 16px to em */
  display: flex;
  background-color: #008d36;
  border-radius: 0.9375em; /* 15px to em */
  cursor: pointer;
  border-color: #008d36;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ddd;
  width: 6.25em; /* 100px to em */
  height: 2.5em; /* 40px to em */
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.14em 1.06em; /* 14px 16px to em */
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
  height: fit-content;
}
/*------------------------------navbar----------------------------------------------*/

.academic {
  background-image: url("../Imagenes/academic.png");
  background-size: cover;
  height: 21em;
}

.title-academic {
  color: #008d36;
  font-size: x-large;
  margin-left: 23em;
  padding-top: 2em;
  font-size: 2em;
}

.text-academic {
  color: white;
  margin-left: 37em;
  margin-right: 13em;
  font-size: 1.1em;
}

.strategy {
  background-image: url("../Imagenes/strategy.png");
  background-size: cover;
  height: 21em;
  margin-bottom: 1em;
}

.title-strategy {
  margin-left: 9em;
  padding-top: 2.5em;
  font-size: 2em;
}

.text-strategy {
  margin-left: 10em;
  margin-right: 43em;
  padding-top: 0.7em;
  font-size: 1.1em;
}

.social {
  background-image: url("../Imagenes/socialMedia.png");
  background-size: cover;
  height: 21em;
}

.title-social {
  color: #008d36;
  font-size: x-large;
  margin-left: 25em;
  padding-top: 2em;
  font-size: 2em;
}

.text-social {
  color: white;
  margin-left: 42em;
  margin-right: 9em;
  font-size: 1.1em;
}

.branding {
  background-image: url("../Imagenes/design.png");
  background-size: cover;
  height: 21em;
  margin-top: 0%;
}

.title-branding {
  margin-left: 7em;
  padding-top: 2em;
  font-size: 2em;
}

.text-branding {
  margin-left: 9em;
  margin-right: 42em;
  padding-top: 0.7em;
  font-size: 1.1em;
}

.podcast {
  background-image: url("../Imagenes/Baner\ Podcast.png");
  background-size: cover;
  height: 21em;
}

.title-podcast {
  color: #008d36;
  font-size: x-large;
  margin-left: 26em;
  padding-top: 2em;
  font-size: 2em;
}

.text-podcast {
  color: white;
  margin-left: 40em;
  margin-right: 10em;
  font-size: 1.1em;
}

/* Estilos para pantallas con max 768px de ancho */
@media (max-width: 768px) {
  .academic,
  .strategy,
  .social,
  .branding,
  .podcast {
    background-repeat: no-repeat;
    height: max-content;
  }

  .title-academic,
  .title-strategy,
  .title-social,
  .title-branding,
  .title-podcast {
    font-size: medium;
    margin-left: 5em;
  }

  .text-academic,
  .text-strategy,
  .text-social,
  .text-branding,
  .text-podcast {
    font-size: 0.5em;
    margin-left: 7em;
    margin-right: 2em;
  }
}

/* Estilos para pantallas con max 600px de ancho */
@media (max-width: 600px) {
  .academic,
  .strategy,
  .social,
  .branding,
  .podcast {
    background-size: contain;
  }

  .title-academic,
  .title-strategy,
  .title-social,
  .title-branding,
  .title-podcast {
    font-size: medium;
    margin-left: 2em;
  }

  .text-academic,
  .text-strategy,
  .text-social,
  .text-branding,
  .text-podcast {
    font-size: 0.8em;
    margin-left: 3em;
    margin-right: 1em;
  }
}
